@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background-image: url('/images/bg-dark.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
}
